@CHARSET "UTF-8";
#webcam {
    width: 200px;
    Height: 200px;
    
}


#webcam_snap {
    width: 200px;
    Height: 200px;
    
    
}


#customersnap{
	width: 350px;
    Height: 350px;
    /*horizontal-align: right;*/
    
}
div.btn {
  display: table;
  vertical-align: middle;
  ;
}

div.btn p, div.btn i {
  display: table-cell;

}

div.btn i.icon.icon-2x.nomargin {
  margin-top: 0;
}

